header {
    background-color: #2697d4;
    padding-bottom: 20px;
}

main {
    width: 100%;
    padding-top: 15px;
}

h1 {
    text-align: center;
    color: black;
    padding-top: 20px;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

.btn {
    display: inline-block;
    background-color: #2697d4;
    height: 50px;
    width: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

#five-day-forecast-container {
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    background-color: transparent;
    justify-content: center;
    width: 100%;
}

.card-content {
    background-color: #2cb5d4;
    margin: 5px;
    padding: 7px;
    border-radius: 20px;
    box-shadow: 5px 10px 4px rgba(73, 72, 72, 0.539);
}

.col {
    padding: 0 5px;
}

.container {
    max-width: 100% !important;
    min-width: 100%;
}

#hide {
    display: none;
}