header {
    background-color: #2697d4;
    padding-bottom: 20px;
}

main {
    width: 100%;
}

h1 {
    text-align: center;
    color: black;
    padding-top: 20px;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

.btn {
    display: inline-block;
    background-color: #349beb;
    height: 50px;
    width: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

#five-day-forecast-container {
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    background-color: transparent;
    justify-content: center;
    width: 100%;
}

